/*************************
  Import & Cascade Layers
*************************/

@import url(@/assets/css/variables.css);
@layer reset, ui, vendor, variations, utilities, print;
@import url(@/assets/css/reset.css) layer(reset);
@import url(@/assets/css/ui.css) layer(ui); /* layouts and pages*/
@import url(@/assets/css/vendor.css) layer(vendor); /* external css */
@import url(@/assets/css/variations.css) layer(variations); /* modified */
@import url(@/assets/css/utilities.css) layer(utilities);
@import url(@/assets/css/print.css) layer(print);
