:root {

  /* Base Colors */
  --color-black: 33, 33, 33;
  --color-white: 255, 255, 255;
  --color-gray: 72, 72, 72;

   /* Font */
   --font-size-base: 1rem;
   --font-family: system-ui, Helvetica, Arial, sans-serif;

  /* Breakpint */
  --breakpoint-375: 375px;
  --breakpoint-560: 560px;
  --breakpoint-768: 768px;
  --breakpoint-960: 960px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
  --breakpoint-1600: 1600px;
  --breakpoint-1920: 1920px;

  /*
    Theme Colors
  */
  --color-primary: 68, 178, 170;
  --color-primary-modified: 138, 244, 234;
  --color-success: 180, 200, 71;
  --color-warning: 255, 104, 36;
  --color-danger: 219, 1, 39;
  --color-visited: 95, 73, 210;
  
  /* Outline */
  --outline-color: 254, 186, 8;

  /* Border */
  --border-color: 187, 187, 187;

  /* link */
  --link-color: var(--color-primary);

  /* Box-shadow */
  --box-shadow: 0 0.75rem 1.125rem rgba(var(--color-black) 0.15);

  /* Wrapper */
  --wrapper-bg: var(--color-white);
  --wrapper-color: var(--color-black);

  /* Header */
  --header-bg: var(--color-white);
  --header-bg-reverse: var(--color-black);
  --header-border-color: var(--border-color);
  --skip-btn-color: var(--color-white);
  --skip-btn-bg: var(--color-black);
  --header-bg-default: var(--color-white);
  --header-border-color-default: var(--border-color);
  --skip-btn-color-default: var(--color-white);
  --skip-btn-bg--default: var(--color-black);
  --menubar-mobile-bg-default: var(--color-black);

  /* Menu */
  --menubar-mobile-bg: var(--color-white);

  /* Footer */
  --footer-bg: var(--color-black);
  --footer-color: var(--color-white);
  --footer-link-color: var(--color-white);
  --footer-border-color: var(--border-color);
  --footer-bg-default: var(--color-black);
  --footer-color-default: var(--color-white);
  --footer-link-color-default: var(--color-white);
  --footer-border-color-default: var(--border-color);

  /* Empty Block */
  --empty-block-border-color: var(--color-primary);
  --empty-block-border-color-default: var(--border-color);

  /* Table */
  --table-bg: var(--color-white);

  /* noscript */
  --noscript-bg: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    
    --color-primary: 68, 178, 170;
    --color-primary-modified: 3, 3, 3;
    --color-success: 180, 200, 71;
    --color-warning: 255, 104, 36;
    --color-danger: 219, 1, 39;
    --color-visited: 206, 206, 206;
    
    /* Outline */
    --outline-color: 254, 186, 8;

    /* Border */
    --border-color: 72, 72, 72;

    /* link */
    --link-color: 238, 238, 238;

    /* Box-shadow */
    --box-shadow: 0 0.75rem 1.125rem rgba(var(--color-white) 0.15);

    /* Wrapper */
    --wrapper-bg: var(--color-black);
    --wrapper-color: var(--color-visited);

    /* Header */
    --header-bg: var(--color-black);
    --header-bg-reverse: var(--color-white);
    --header-border-color: var(--border-color);
    --skip-btn-color: var(--color-white);
    --skip-btn-bg: var(--color-black);
    --header-bg-default: ar(--color-white);
    --header-border-color-default: var(--border-color);
    --skip-btn-color-default: ar(--color-white);
    --skip-btn-bg--default: var(--color-black);
    --menubar-mobile-bg-default: var(--color-black);

    /* Menu */
    --menubar-mobile-bg: var(--color-black);

    /* Footer */
    --footer-bg: var(--color-primary-modified);
    --footer-color: var(--wrapper-color);
    --footer-link-color: var(--color-white);
    --footer-border-color: var(--border-color);
    --footer-bg-default: var(--color-black);
    --footer-color-default: var(--color-white);
    --footer-link-color-default: var(--color-white);
    --footer-border-color-default: var(--border-color);

    /* Empty Block */
    --empty-block-border-color: var(--color-primary);
    --empty-block-border-color-default: var(--border-color);

    /* Table */
    --table-bg: var(--color-black);

    /* noscript */
    --noscript-bg: var(--color-primary-modified);
  }
}
